<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FashionCo</title>
    <link rel="stylesheet" href="~/lib/bootstrap/bootstrap-4.3.1-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://wrd.app.fit.ba/2018-19/fit-messagebox.css" />
    <style>
        .navbar-custom {
            background-color: #EFEBE9;
        }
    </style>
    @* navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3*@
</head>
<body>
    <header>
        <nav class="navbar navbar-custom navbar-expand-sm" >
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" style="color: #343148">FashionCo</a>
                @*<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>*@
               <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="dropdown">
                            <a class="nav-link text-dark dropdown-toggle" data-toggle="dropdown" href="#">
                                Category
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="nav-link text-dark" href="#">Men</a></li>
                                <li><a class="nav-link text-dark" href="#">Women</a></li>
                                <li><a class="nav-link text-dark" href="#">Kids</a></li>
                                <hr />
                                <li><a class="nav-link text-dark" href="/Product/ProductList">All products</a></li>


                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>





    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - FashionCo - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/bootstrap-4.3.1-dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
    <script src="https://wrd.app.fit.ba/2018-19/fit-messagebox.js"></script>

    <script src="~/js/site.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
