@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model FashionCo.ViewModels.ProductAddVM


<style>

    body {
        font-family: Arial, Helvetica, sans-serif;
        background-color: #EFEBE9
    }

    #forma {
        display: flex;
        flex-flow: column;
        justify-content: center;
        padding: 10px 50px;
        background-color: #EFEBE9
    }

    input, select {
        width: 100%;
        display: block;
        margin-bottom: 7px
    }

    .form-control, select, .custom-file-input {
        border: 1px solid #343148;
        background-color: rgba(0, 0, 0, .075);
        letter-spacing: 1px;
    }

</style>

<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto py-2 px-lg-5">
            <form id="forma" asp-action="Save" enctype="multipart/form-data">

                <div class="card-title text-center">
                    <h5 class="mt-5">Product</h5>
                </div>

                <div class="form-group text-center font-weight-bold">
                    <input class="form-control form-control-lg" asp-for="ProductID" hidden readonly />
                </div>

                <div class="form-group text-center font-weight-bold">
                    <label>Product name</label>
                    <input class="form-control form-control-lg" asp-for="ProductName" placeholder="Product name" />
                
                    <div class="form-group text-center font-weight-bold">
                        <label>Price</label>
                        <input class="form-control form-control-lg" asp-for="Price" placeholder="Price" />
                    </div>
                </div>
                <div class="form-group text-center font-weight-bold">
                    <label>Category</label>
                    <select class="form-control form-control-lg" asp-for="CategoryID" asp-items="Model.Category"></select>
                </div>

                <div class="form-group text-center font-weight-bold">
                    <label>Description</label>
                    <input class="form-control form-control-lg" asp-for="Description" />
                </div>

                <div class="card mb-4 shadow-sm">
                    <img src="/uploads/@Model.PictureUrl" class="img-thumbnail" />
                </div>

                <div class="form-group text-center font-weight-bold">
                    <label class="control-label">Picture</label>
                    <div class="custom-file">
                        <input asp-for="productPictureNew" class="custom-file-input" id="customFile" />
                        <label class="custom-file-label" for="customFile">Choose file</label>
                    </div>
                </div>

                <button type="submit" class="btn btn-dark" value="Save">Save</button>
            </form>

         </div>
    </div>
</div>
